html[data-theme="dark"] {
    --color-mode:theme(colors.gray.950);
    --color-primary: #225aa0;
    --color-secondary: #4bade9;
    --color-tertiary:#1a3c5d;
    --color-quaternary:theme(colors.sky.200);
    --color-quinary:theme(colors.gray.800);
    --color-background-primary:theme(colors.gray.900);
    --color-background-secondary:theme(colors.gray.950);
    --color-background-tertiary:theme(colors.gray.800);
    --color-text-primary:theme(colors.gray.200);
    --color-text-secondary:theme(colors.gray.300);
    --color-text-tertiary:theme(colors.gray.400);
    --color-text-quaternary:theme(colors.gray.400);
    --color-text-quinary:theme(colors.gray.300);
    --color-text-senary:theme(colors.slate.400);
    --color-pink:theme(colors.rose.600);
    --color-yellow:theme(colors.amber.400);
    --color-green:theme(colors.emerald.600);
    --color-border-primary:theme(colors.gray.600);
    --color-border-secondary:theme(colors.gray.700);
    }
    