html[data-theme="themeEnvironment"] {
    --color-colormode:theme(colors.white);
    --color-primary:theme(colors.emerald.700);
    --color-secondary:theme(colors.emerald.400);
    --color-tertiary:theme(colors.emerald.950);
    --color-quaternary:theme(colors.emerald.100);
    --color-quinary:theme(colors.emerald.50);
    --color-background-primary:theme(colors.zinc.50);
    --color-background-secondary:theme(colors.zinc.100);
    --color-background-tertiary:theme(colors.zinc.200);
    --color-text-primary:theme(colors.gray.800);
    --color-text-secondary:theme(colors.gray.700);
    --color-text-tertiary:theme(colors.gray.500);
    --color-text-quaternary:theme(colors.gray.400);
    --color-text-quinary:theme(colors.gray.300);
    --color-text-senary:theme(colors.slate.400);
    --color-pink:theme(colors.rose.600);
    --color-yellow:theme(colors.amber.400);
    --color-green:theme(colors.emerald.600);
    --color-border-primary:theme(colors.gray.200);
    --color-border-secondary:theme(colors.gray.300);
    
}
 