{
	"url_shrpt": "https://tesseraktlabs-my.sharepoint.com/personal/akash_saravanan_mavenberg_com/",
	"username_shrpt": "akash.saravanan@mavenberg.com",
	"password_shrpt": "Wkfoxlobq@123$",
	"input_file_path": "/personal/akash_saravanan_mavenberg_com/Documents/Documents/OPEX_wolf.xlsx",
	"output_file_name": "file.xlsx",
	"target_url": "/personal/akash_saravanan_mavenberg_com/Documents/Documents/",
	"excel_buffer": "Temp",
	"log_file_path": "log\\log_file.log"
}